#header{
    width: 100vw;
    height: 15vh;
    background-color: #57cc99;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-style: italic;
}

.signup{
    width: 450px;
    height: 400px;
    padding: 20px;
    margin: auto;
    position: absolute;
    top: 150px;
    left: 0;
    right: 50px;
    background-color:#c7f9cc;
    border-radius: 10px;
    box-shadow: 20px 15px 10px rgba(0, 0, 0, 0.2);
    /*background-image: url('../assets/crop.jpg');
    background-size: cover; !* or contain *!
    background-repeat: no-repeat;
    background-position: center;*/
}

.signupbtn{
    background-color: #57cc99;
    color: white;
    position: relative;
    top: 50px;
    bottom: 0;
    left: 150px;
    right: 0;
    margin: auto;
}

body{
    background-color: #edf2f4;

}

.card.signup {
    background-image: url("../assets/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    padding: 20px;
    color: #fff;

}

